a:link {
  text-decoration: none;
  color: 7198AF;
}
table, th, td {
  border: 1px solid;
  border-color: #000000;
}
h1 {
  background-color: #3A3F64;
  color: white;
  padding: 50px;
  width: 100%;
  height: 10px;
  line-height: 7px;
  text-indent: -38px;
  font-size: 35px;
  font-family: Helvetica;
 }
h2 {
  color: FFFFFF;
  font-size: 15px;
  margin-left: 30px;
  line-height: 0px;
  font-family: Helvetica;
  font-style: italic;
} 
h3 {
  background-color: #3A3F64;
  color: white;
  text-indent: 20px;
  font-size: 18px;
  font-family: Helvetica;
}
h4 {
  color: #FFFFFF
  font-size: 16px;
  margin-left: 30px;
  font-family: Helvetica;
}
h5 {
  color: #FFFFFF
  font-size: 18px;
  margin-left: 20px;
  font-family: Helvetica;
  margin-top: 1px;
  
}
h6 {
 background-color: #D8D8DA;
  text-indent: 20px;
  font-size: 18px;
  font-family: Helvetica;
  text-align: center;
}
p {
  color: FFFFFF;
  font-size: 15px;
  margin: 1px;
  margin-left: 3px;
  font-family: Helvetica;
}
p2 {
  color: FFFFFF;
  font-size: 14px;
  margin: 1px;
  margin-left: 5px;
  font-family: Helvetica;
}

.collapsible {
  background-color: #3A3F64;
  color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  width: 130px;
  height: 15px;
  border: 1px;
  text-align: center;
  line-height: 2px;
  outline: none;
  font-size: 15px;
  margin-left: 20px;
}

.active, .collapsible:hover {
  background-color: #5A5D76;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #D8D8DA;
}
