/* GLOBAL STYLES */ 
.body {
  max-height: 500px;
}
.nav-bar {
width: 90%;
display: flex;
flex-wrap: wrap;
margin: 25px auto;
justify-content: right;
margin-bottom: 70px;  
}

.nav-button {
  font-family: monospace;
  font-size: 1em;
  color: #C96842;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.nav-button:hover {
  color: #788B55;
}

.content-wrapper{
 max-width: 48em;
 justify-content: flex-start;
 align-content: center;
 flex-wrap: wrap;
 display: flex;
 padding-right: 24px;
 padding-bottom: 24px;
 position: relative;
 width: 50%;
 margin: auto;
 min-width: 48em;
}

.img-wrapper {
bottom: auto;
top: auto;
right: 50px;
position: absolute;
}

.self {
  height: 20em;
  width: 20em;
}


/* Typewriter Text */
.typewriter h1 {
  color: #000;
  font-family: monospace;
  font-size: 3em;
  overflow: hidden;
  border-right: .15em solid #1D6F41;
  white-space: nowrap;
  display: ;
  letter-spacing: .15em;
  animation: 
    typing 2.0s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* Typing Text Effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Typewriter Cursor */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #788B55 }
}

/* Shift Up 1 Text */
.ShiftUp {
  font-family: monospace;
  color: #000;
  position: absolute;
  margin-top: 50px;
  font-size: 1.4em;
  animation: 3s anim-ShiftUp;
}
@keyframes anim-ShiftUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Shift Up 2 Text */
.ShiftUp2 {
  font-family: monospace;
  color: #000;
  position: absolute;
  margin-top: 100px;
  font-size: 1.4em;
  animation: 4s anim-ShiftUp2;
}
@keyframes anim-ShiftUp2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Fade Text */
.fade-in-text1 {
  font-family: monospace;
  color: #000;
  position: absolute;
  font-size: 1.5em;
  margin-top: 180px;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fade-in-text2 {
  font-family: monospace;
  color: #544131;
  position: absolute;
  font-size: 1.5em;
  margin-top: 275px;
  animation: fadeIn 3.5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* List Styling */
ul {
  list-style-type: none;
  padding: 15px;
}

/* Link Styling */

a.see-more-link {
color: #C96842;
font-weight: bold;
transition: 0.2s ease-in;
text-decoration: none;
display: flex;
margin-bottom: 200px;
}

a.see-more-link:hover {
transform: translateX(5%);
color: #788B55;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 200,
  'opsz' 48;
 margin-left: 10px;
}

